{
  "Nickname": "somenick",
  "Username": "someuser",
  "Server": "irc.freenode.net",
  "Port": 6697,
  "TLS": true,
  "TLSSkipVerify": false,
  "Debug": false,
  "Verbose": false,
  "Channels" : [
    {
      "Name": "#foo"
    },
    {
      "Name": "#bar",
      "Key": "secretkey"
    }
  ],
  "HTTP": {
    "Host": "127.0.0.1",
    "Port": 8080
  }
}
